
<nav class="nav navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-print"></span>Vote!
				</a>
			</li>
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-print"></span>Standings
				</a>
			</li>
		</ul>
	</div>
</nav>
