
<% include head %>

<body>

<header>
<% include header %>
</header>

<p>This is the body...</p>

<%= "print me" %>

<%
	var name = 'Peter';
	if(name == 'Peter'){
%>
		<h1>Peter</h1>
<%
	};
%>

<%
	for(i=0; i<photos.length; i++){
%>
	<div id="imageHolder" class="col-md-3">
		<img src="<%=photos[i].name %>">
	</div>
<%
	};
%>

<footer>
<% include footer %>	
</footer>
</body>
</html>